# ─── App ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Migu

# ─── Add your environment variables below ─────────────────────────────────────
# EXAMPLE_API_KEY=your_key_here
